.month .month__day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 50%;
    position: relative;
    width: 11.5vw;
    height: 11.5vw;
    margin: 5px;
    cursor: pointer;
}

.month .month__day:has(.has_reminders) {
    background-color: red;
}

.month .month__day.disabled:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
    border-radius: 50%;
}

.month .month__day:not(.disabled):hover,
.month .month__day:not(.disabled):focus {
    box-shadow: 0px 0px 15px -3px var(--text-secondary);
}

.month .month__day .day {
    width: 100%;
}

.month .month__day .day__day {
    text-align: center;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.month .month__day .day__day.has_reminders {
    background-color: yellow;
    border-radius: 50%;
}

.month .month__day .day__reminder {
    height: 150px;
    overflow: overlay;
    visibility: hidden;
    display: none;
}

.month .month__day .day__reminder.active {
    visibility: visible;
}

.month .month__day .day__reminder::-webkit-scrollbar {
    width: 0px;
}

.month .month__day .day__reminder .reminder-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243b55, #141e30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #243b55,
        #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--text-primary);
    padding: 5px;
    margin: 5px 0;
    position: relative;
}

.month .month__day .day__reminder .reminder-wrapper:hover :is(.title, .time) {
    visibility: hidden;
}

.month .month__day .day__reminder .reminder-wrapper:hover i {
    visibility: visible;
}

.month .month__day .reminder-wrapper .title {
    flex: 0.5;
    overflow: hidden;
    white-space: nowrap;
}

.month .month__day .reminder-wrapper .content {
    display: none;
}

.month .month__day .reminder-wrapper .time {
    flex: 0.5;
    text-align: right;
}

.month .month__day .reminder-wrapper i {
    position: absolute;
    right: 5px;
    visibility: hidden;
    top: 50%;
    transform: translateY(-50%);
}

.month .month__day .reminder-wrapper i:hover {
    cursor: pointer;
}

.month .month__day .day__actions {
    display: none;
}

.month .month__day .day__actions button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243b55, #141e30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #243b55,
        #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--text-primary);
    border: 1px solid #141e30;
}

@media screen and (min-width: 768px) {
    .month .month__day {
        border-radius: 0;
        width: calc(100% / 7);
        margin: 0;
        padding: 10px;
        cursor: initial;
        height: 19vh;
    }

    .month .month__day.disabled:before {
        border-radius: 0;
    }

    .month .month__day .day__day {
        text-align: unset;
        padding-left: 10px;
        height: initial;
        display: initial;
    }

    .month .month__day .day__day.has_reminders {
        background-color: transparent;
    }

    .month .month__day .day__actions button,
    .month .month__day .day__reminder,
    .month .month__day .day__actions {
        display: initial;
    }

    .month .month__day .day__day,
    .month .month__day .day__reminder,
    .month .month__day .day__actions {
        margin: 10px 0;
        width: 100%;
    }

    .month .month__day .day__actions button.view-reminders {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .month .month__day:hover .day__day.has_reminders ~ .day__actions {
        display: block;
    }

    .month .month__day:hover .day__day.has_reminders ~ .day__actions .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .month .month__day:hover .day__day.has_reminders ~ .day__actions button {
        margin: 0 5px;
        padding: 10px 15px;
    }
}
@media screen and (max-width: 480px) {
    .month .month__day {
        width: 11vw;
        height: 11vw;
        margin: 3px;
    }
}
