.container.new-reminder {
    position: fixed;
}

.container.new-reminder::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.reminer__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reminer__wrapper .fas.fa-times {
    font-weight: 900;
    position: absolute;
    top: 5px;
    right: 10px;
    color: var(--text-primary);
    cursor: pointer;
}

.reminer__wrapper .label {
    text-align: center;
    padding: 20px 0;
    color: var(--text-primary);
}

.reminder__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reminder__form .reminder-title,
.reminder__form .reminder-content {
    position: relative;
    width: 80%;
    margin: 10px auto;
}

.reminder__form:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(to right, #243b55, #141e30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #243b55,
        #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: -1;
}

#reminder-title {
    width: 100%;
    margin: 0 auto 10px;
}

.reminder__form .trigger {
    width: 80%;
}

.reminder__form .trigger {
    color: var(--text-primary);
}

.reminder__form input,
.reminder__form textarea {
    padding: 10px;
    margin: 10px;
}

.reminder__form textarea {
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 20vh;
    height: 20vh;
    min-height: 10vh;
}

.reminder__form .date-time {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.reminder__form .btn {
    margin-bottom: 20px;
    padding: 10px;
    background: var(--text-primary);
    border: 1px solid var(--text-primary);
    color: var(--text-secondary);
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}

.react-datepicker__triangle {
    left: 50px !important;
}

@media screen and (min-width: 480px) {
    .reminder__form {
        width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .reminder__form {
        width: 500px;
    }
}
