.container.login {
    width: 95%;
    height: 100vh;
    min-height: 800px;
    margin: 0 auto;
    padding-top: 100px;
}

.container.login:after {
    content: "";
    background-image: url("../../../assets/images/login-bg.jpg");
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: 800px;
    width: 100vw;
    z-index: -999;
    background-position: center;
    background-size: cover;
}

.container.login .login__wrapper {
    height: 100%;
}

.container.login .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 700;
}

.container.login .section-title h1 {
    margin: 10px;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    color: var(--text-secondary);
}

.container.login .section-title h1.login.active,
.container.login .section-title h1.register.active {
    color: var(--text-primary);
}

.login-register.wrapper {
    height: 100%;
    max-height: 400px;
    max-width: 400px;
    margin: 25px auto 0;
    position: relative;
}

.login-register.wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243b55, #141e30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #243b55,
        #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.7;
    z-index: -1;
}

@media screen and (min-width: 480px) {
    .login-register.wrapper {
        max-height: 550px;
        max-width: 550px;
    }
}
