.privacy-policy {
    width: 80%;
    margin: 100px auto 50px;
}

.privacy-policy h1 {
    font-size: 2rem;
    margin: 20px 0 10px;
}

.privacy-policy h2 {
    margin-top: 30px;
}

.privacy-policy h3 {
    margin: 20px 0 10px;
}

.privacy-policy p {
    padding: 15px 0;
    line-height: 1.4rem;
}

.privacy-policy ul {
    margin-left: 50px;
}

.privacy-policy li {
    list-style: disc;
    line-height: 2rem;
}
