.terms-and-conditions {
    width: 80%;
    margin: 100px auto 50px;
}

.terms-and-conditions h1 {
    font-size: 2rem;
    margin: 20px 0 10px;
}

.terms-and-conditions h2 {
    margin-top: 30px;
}

.terms-and-conditions h3 {
    margin: 20px 0 10px;
}

.terms-and-conditions p {
    padding: 15px 0;
    line-height: 1.4rem;
}

.terms-and-conditions ul {
    margin-left: 50px;
}

.terms-and-conditions li {
    list-style: disc;
    line-height: 2rem;
}
